@model Dinamico.Models.ContentPart
@{ 
    Content.Define(ie =>
        {
            ie.Title = "Image";
            ie.Image("Image");
            ie.Enum("Float", typeof(MWMvc.Float)).DefaultValue(MWMvc.Float.Middle);
            ie.FreeText("Caption");
            ie.Text("AltText").DefaultValue("");
        }); 
}
@if (Content.Has.Float && Content.Data.Float == MWMvc.Float.Left)
{
    <div style="float: left; padding: 0 1em 1em 0;">
        <img src="@Content.Data.Image" alt="@Content.Data.AltText" />
        @if (Content.Has.Caption && !String.IsNullOrWhiteSpace(Content.Data.Caption))
        {
            @Content.Data.Caption
        }
    </div>
}
else if (Content.Has.Float && Content.Data.Float == MWMvc.Float.Right)
{
    <div style="float: right; padding: 0 0 1em 1em;">
        <img src="@Content.Data.Image" alt="@Content.Data.AltText" />
        @if (Content.Has.Caption && !String.IsNullOrWhiteSpace(Content.Data.Caption))
        {
            @Content.Data.Caption
        }
    </div>
}
else if (Content.Has.Float && Content.Data.Float == MWMvc.Float.Middle)
{
    <div style="padding: 1em; text-align: center;">
        <p><img src="@Content.Data.Image" alt="@Content.Data.AltText" /></p>
        @if (Content.Has.Caption && !String.IsNullOrWhiteSpace(Content.Data.Caption))
        {
            @Content.Data.Caption
        }
    </div>
}
else
{
    <p><img src="@Content.Data.Image" alt="@Content.Data.AltText" /></p>
    if (Content.Has.Caption && !String.IsNullOrWhiteSpace(Content.Data.Caption))
    {
        @Content.Data.Caption
    }
}
