@using N2.Web
@model Dinamico.Models.ContentPage

@{
	Content.Define(re =>
	{
		re.Title = "News page";
		re.IconUrl = "{IconsUrl}/newspaper.png";
		re.DefaultValue("Visible", false);
		re.RestrictParents("Container");
		re.Sort(N2.Definitions.SortBy.PublishedDescending);
	});
}

@section BodyLayoutReplacementRows
{
	<!-- hero unit -->
	<div class="row" id="heroUnitRow">
		<div class="col-xs-12 centered" id="heroUnitCell">
			@{ Html.DroppableZone("Hero").Render(); }
		</div>
	</div>
	<!-- /hero unit -->


	<div class="row">

		<!-- sub-navigation -->
		<div class="col-sm-2">
			@{ Html.RenderPartial("_RightNavShared");}
		</div>
		<!-- /sub-navigation -->

		<!-- main content-->
		<div class="col-sm-6">
			@Content.Render.Tokens("Title").Wrap(@<h1>@item.RenderContents()</h1>)
			<h2>Published @Content.Current.Item.Published.Value.ToString("MMM d, yyyy")</h2>
			@Content.Render.Tokens("Text").Wrap(@<div id="content">@item.RenderContents()</div>)
			@{ Html.DroppableZone("Body").Render(); }
		</div>
		<div class="col-sm-4">
			@{ Html.DroppableZone("Gutter").Render(); }
			@{ Html.DroppableZone("RecursiveGutter").Render(); }

			<h1>Read more</h1>
			@foreach (var item in Content.Current.Item.Parent.GetChildPagesUnfiltered().OrderByDescending(item => item.Published))
			{
				if (item.ID == Content.Current.Item.ID)
				{
					<p style="line-height: 100%; font-weight: bold;">&raquo; @item.Title<br /><small class="disabled">@String.Format("published {0:M/d/yyyy}", item.Published) </small></p>
				}
				else
				{
					<p style="line-height: 100%;"><a href="@item.Url">@item.Title</a><br /><small class="disabled">@String.Format("published {0:M/d/yyyy}", item.Published) </small></p>
				}
			}

			@{ Html.DroppableZone("GutterBelow").Render(); }
		</div>
		<!-- /main content -->

	</div>
	<!-- /row -->
}